.userPhoto {
    width: 100px;
    height: 100px;
}
.users{
    color: rgb(48, 188, 9);
}
.selectedPage{
    font-weight: bold;
    margin: 2px 2px;
    font-size: 20px;
}
.pages{
 cursor: pointer;
}
.preloader img{
    border: none;
}
.pluse img{
    border: 1px solid black;
    border-radius: 5px;
}


.paginator{
    margin: 10px;
    
}
.pageNumber{
    padding: 2px;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 2px;
}
.pageNumber:hover  {
    background-color: rgb(196, 29, 162);
    color: aliceblue;
    opacity: 0.7;
}

.pageNumber.selectedPage {
    color: aliceblue;
    font-weight: bold;
    /* margin: 2px 5px; */
    font-size: 20px;
    background-color: #c41da2;
}

.btn:hover  {
    background-color: rgb(196, 29, 162);
    color: aliceblue;
    opacity: 0.7;
}
.btn{
    border: none;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 2px;
    background: #04b40496;
}